.dz {
    border: dashed !important;
    background-color: #ccc !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}

#icon-edit-picture {
    opacity: 0;
  }
  
#icon-edit-picture:hover {
opacity: 1;
}

