{% extends 'craftapp/base.html' %}
{% load i18n %}
{% load static %}


{% block styles %}
{{ block.super }}
{% endblock %}


{% block header %}ClipCraft{% endblock %}
{% block login %}
{% if user.is_authenticated %}
<a class="text-light" href="{% url 'logout' %}">{% trans "Logout" %}</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="fs-2 card-title m-4">{% if user.is_authenticated %} {% trans "Welcome" %}, {{ user.username }} !{% endif %}
</div>
<div class="p-2">
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="d-sm-flex justify-content-between">
      <div class="col-sm-6 p-sm-3">
        <div class="mb-3">
          <label for="titleVideo" class="form-label">{% trans "What title do you want for your video ?" %}</label>
          <input class="form-control" id="titleVideo" name="title" placeholder="{% trans 'Enter your title here' %}">
        </div>
        <div class="mb-3">
          <label for="textVideo" class="form-label">{% trans "Enter your text here" %}</label>
          <textarea class="form-control" id="textVideo" name="text" rows="3"></textarea>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-center">
          <div class="row team-container w-sm-50 p-3">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for avatar in avatars %}
                {% with counter=forloop.counter|stringformat:"s" %}
                {% with avatar_path='assets/avatar'|add:counter|add:".png" %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <input type="radio" name="photo" value="{{ forloop.counter }}" id="photo{{ forloop.counter }}"
                    class="d-none">
                  <label for="photo{{ forloop.counter }}">
                    <img src="{% static avatar_path %}" class="d-block" alt="Photo {{ forloop.counter }}" height="300"
                      length="500">
                  </label>
                </div>
                {% endwith %}
                {% endwith %}
                {% endfor %}

              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-lg w-sm-50 text-light" style="background-color: #111345;">
          {% trans "generate my video" %}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}