{% extends 'craftapp/base.html' %}

{% load i18n %}
{% load static %}

{% block styles %}
{{ block.super }}
{% endblock %}

{% block header %}ClipCraft{% endblock %}

{% block content %}
<div class="container text-center p-sm-4">
  <div class="fs-2 p-2" style="color: #111345;">Inscription - Connexion</div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn w-sm-50 text-light" style="background-color: #111345;">
      {% trans "Connect" %}
    </button>
    <button type="button" class="btn w-sm-50 text-light" style="background-color: #111345;">
      <a href="{% url 'signup' %}" class="link-light text-decoration-none">{% trans "Register" %}</a>
    </button>
  </form>
</div>

{% endblock %}